<!DOCTYPE html>
<html>
<head>
    <title>Índice</title>
</head>
<body>
    <h1>Bienvenido al Índice</h1>
    <ul>
        <li><a href="/mostrar_tareas/">si desea ver la lista de tareas de click aqui</a></li>
        <li><a href="/agregar/">si desea agregar una tarea de click aqui</a></li>
        <li><a href="/eliminar/">si desea eliminar una tarea de click aqui</a></li>
        <li><a href="/marcar_tareas/">si desea marcar una tarea completado/no completadado de click aqui</a></li>
    </ul>
</body>
</html>
